{% extends "layout.html" %}

{% block title %}
    {{project.name}}
{% endblock %}

{% block header %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Projects</a>
    </li>
</ul>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 user-nav">
        <li class="nav-item dropdown account">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-regular fa-user"></i> {{username}}
            </a>
            <div class="dropdown-menu account" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0b0b; border:none;">

                <a class="dropdown-item" href="#" style="color: #dddddd; font-family: 'Open Sans', sans-serif; font-size: 0.9rem;">Settings</a>
                <div class="dropdown-divider" style="background-color: #3c37378f;"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}" style="color: #F68807; font-family: 'Open Sans', sans-serif; font-size: 0.9rem; font-weight: bold;">Log Out</a>

            </div>
        </li>
    </ul>
{% endblock %}
{% block main %}

<style>
    
    .card-header {
        background-color: #111111;
        color: #ffffff;
        border-bottom: 1px solid #f6860783;
        font-family: 'Fira Code', monospace;
    }

    .card-body {
        background-color: #000000;
        font-family: 'Open Sans', sans-serif;
    }

    .card-footer {
        background-color: #111111;
        color: #ffffff;
        font-family: 'Fira Code', monospace;
    }

    .btn-outline-primary {
        border-color: #F68807;
        color: #F68807;
    }

    .btn-outline-primary:hover {
        background-color: #F68807;
        color: #ffffff;
        border:#ffffff
    }

    .btn-outline-danger {
        border-color: #dc3545;
        color: #dc3545;
    }

    .btn-outline-danger:hover {
        background-color: #dc3545;
        color: #ffffff;
    }

    .card {
        border: none;
    }


    .here{
        color:#F68807;
    }
    
    .here:hover {
        color:#ff7220;
    }

    .add-task-link{
        color:rgb(19, 166, 19);
    }
    
    .add-task-link:hover {
        color:#36e762;
    }

    .no-project {
        margin-top: 15vh;
    }

    .project-page-title {
        padding-bottom: 3rem;
        margin-left: 3rem;
    }

    @media screen and (min-width: 1025px) {
        .project-page-title {
            padding-bottom: 3rem;
            margin-left: 3rem;
        }

        .container {
            max-width: 80%;
        }

        .tasks-in-box {
            font-size: 18px;
        }

        .fa-trash, .fa-pen-to-square {
            font-size: 0.8em;
        }

        .icon-trash {
            margin-left: 18px;
        }

        .icon-div {
            margin-left: 1.4em;
        }
    }
        

        /* For mobile devices */
    @media screen and (max-width: 767px) {
        .project-page-title {
            padding-bottom: 3rem;
            margin-left: 12px;
        } 

        .fa-trash, .fa-pen-to-square {
            font-size: 0.8em;
        }

        .icon-trash {
            margin-left: 14px;
        }

        .icon-div {
            margin-left: 1.4em;
        }
    }

    /* For tablets */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .project-page-title {
            padding-bottom: 3rem;
            text-align: center;
        }

        .container {
            max-width: 80%;
        }

        .tasks-in-box {
            font-size: 18px;
        }

        .fa-trash, .fa-pen-to-square {
            font-size: 0.8em;
        }

        .icon-trash {
            margin-left: 18px;
        }

        .icon-div {
            margin-left: 1.4em;
        }

    }

    :root {
    --form-control-color: #F68807;
    --form-control-disabled: #959495;
    }

    *,
    *:before,
    *:after {
    box-sizing: border-box;
    }


    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: var(--form-background);
        /* Not removed via appearance */
        margin: 0;

        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);

        display: grid;
        place-content: center;

        margin-top: 5px;
    }

    input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
    }

    input[type="checkbox"]:checked::before {
    transform: scale(1);
    }

    input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
    }

    .completed-task {
        text-decoration: line-through;
        /* Additional styling for completed tasks */
    }

    .tasks .completed-task {
        text-decoration: line-through;
        /* Apply line-through only to completed tasks within .tasks div */
    }
        

</style>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <form action="{{url_for('project_dashboard', project_id=project.id, project_name=project.name)}}" method="post">
                    {% if not tasks %}
                    <div class="card-header">
                        <h4 class="my-0 fw-normal" style="font-family: 'Open Sans', sans-serif;"><span style="color:  #F68807;">{{ project.name }}</span></h4>
                    </div>
                    <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="code" style="color:#dddddd; text-align: center;">No tasks found. <a class="here" href="{{url_for('add_task', project_id = project.id, project_name = project.name)}}">Add Tasks</a> to get started.</li>
                    </ul>
                    {% else %}
                    <div class="card-header">
                        <h4 class="my-0 fw-normal" style="font-family: 'Open Sans', sans-serif;"><span style="color:  #F68807;">{{ project.name }}</span></h4>
                    </div>
                    <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-3 tasks-in-box">
                        {% for task in tasks %}
                        <li class="code d-flex mt-3 mb-3">
                            <div class="line-number pr-3">
                                {{ loop.index }}
                            </div>
                            <div>
                                <input class="mr-3 task-checkbox" type="checkbox" name="completed_tasks[]" value="{{ task.id }}" data-task-id="{{ task.id }}" style="cursor: pointer;" {% if task.completed %}checked{% endif %}>
                            </div>
                            <div class="edit_hover_class d-flex">
                            <div class="tasks" data-task-id="{{ task.id }}">
                                <span class="task-descrption {% if task.completed %}completed-task{% endif %}" id="taskDescription_{{ task.id }}">{{ task.description }}</span>
                            </div>
                            <div class="icon-div d-flex">
                                <span class=""><a class="icon-link" href="{{url_for('edit_task', task_id = task.id)}}"><i class="fa-solid fa-pen-to-square" style="color: #F68807;"></i></a></span>
                                <span class="icon-trash"><a href="#" class="icon-link delete-task" data-task-id="{{ task.id }}"><i class="fa-solid fa-trash" style="color: #F68807;"></i></a></span>
                            </div>
                            </div>
                        </li>
                    {% endfor %}
                    <li><a class="code add-task-link" style="text-decoration: none;" href="{{url_for('add_task', project_id = project.id, project_name = project.name)}}">// Add_Tasks <i class="fa-solid fa-plus"></i></a></li>
                    </ul>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="{{url_for('project_dashboard', project_id = project.id, project_name = project.name)}}"><button type="submit" class="btn btn-sm btn-outline-primary">Save Progress</button></a>
                </div>
            </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<script>

    // JavaScript to handle checkbox change event
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.task-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const taskId = this.getAttribute('data-task-id');
                const taskDescription = document.getElementById('taskDescription_' + taskId);
                if (this.checked) {
                    taskDescription.style.textDecoration = 'line-through';
                } else {
                    taskDescription.style.textDecoration = 'none';
                }
            });
        });
    });

    // JavaScript to handle delete task
    document.addEventListener('DOMContentLoaded', function() {
        const deleteIcons = document.querySelectorAll('.delete-task');
        deleteIcons.forEach(icon => {
            icon.addEventListener('click', function(event) {
                event.preventDefault();
                const taskId = this.getAttribute('data-task-id');
                const confirmDelete = confirm('Are you sure you want to delete this task?');
                if (confirmDelete) {
                    deleteTask(taskId);
                }
            });
        });
    });

    // Function to perform AJAX request to delete task
    function deleteTask(taskId) {
        fetch(`/delete_task/${taskId}`, {
            method: 'DELETE',
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            // Reload the page or update the task list after deletion
            window.location.reload();
        })
        .catch(error => {
            console.error('There was an error deleting the task:', error);
        });
    }
</script>

{% endblock %}