{% extends "layout.html" %}

{% block title %}
    {{project.name}}
{% endblock %}

{% block header %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Projects Menu</a>
    </li>
</ul>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 user-nav">
        <li class="nav-item dropdown account">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-regular fa-user"></i> {{username}}
            </a>
            <div class="dropdown-menu account" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0b0b; border:none;">

                <a class="dropdown-item" href="#" style="color: #dddddd; font-family: 'Open Sans', sans-serif; font-size: 0.9rem;">Settings</a>
                <div class="dropdown-divider" style="background-color: #3c37378f;"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}" style="color: #F68807; font-family: 'Open Sans', sans-serif; font-size: 0.9rem; font-weight: bold;">Log Out</a>

            </div>
        </li>
    </ul>
{% endblock %}
{% block main %}

<style>
    
    .card-header {
        background-color: #111111;
        color: #ffffff;
        border-bottom: 1px solid #f6860783;
        font-family: 'Fira Code', monospace;
    }

    .card-body {
        background-color: #000000;
        font-family: 'Open Sans', sans-serif;
    }

    .card-footer {
        background-color: #111111;
        color: #ffffff;
        font-family: 'Fira Code', monospace;
    }

    .btn-outline-primary {
        border-color: #F68807;
        color: #F68807;
    }

    .btn-outline-primary:hover {
        background-color: #F68807;
        color: #ffffff;
        border:#ffffff
    }

    .btn-outline-danger {
        border-color: #dc3545;
        color: #dc3545;
    }

    .btn-outline-danger:hover {
        background-color: #dc3545;
        color: #ffffff;
    }

    .card {
        border: none;
    }


    .here{
        color:#F68807;
    }
    
    .here:hover {
        color:#ff7220;
    }

    .add-task-link{
        color:rgb(19, 166, 19);
    }
    
    .add-task-link:hover {
        color:#36e762;
    }

    .no-project {
        margin-top: 15vh;
    }

    .project-page-title {
        padding-bottom: 3rem;
        margin-left: 3rem;
    }

    @media screen and (min-width: 1025px) {
        .project-page-title {
            padding-bottom: 3rem;
            margin-left: 3rem;
        }

        .container {
            max-width: 80%;
        }

        .tasks-in-box {
            font-size: 18px;
        }
    }
        

        /* For mobile devices */
    @media screen and (max-width: 767px) {
        .project-page-title {
            padding-bottom: 3rem;
            margin-left: 12px;
        } 
    }

    /* For tablets */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .project-page-title {
            padding-bottom: 3rem;
            text-align: center;
        }

        .container {
            max-width: 80%;
        }

        .tasks-in-box {
            font-size: 18px;
        }

    }

    input[type=text] {
			width: 100%;
			box-sizing: border-box;
			border: 1px solid #000000;
            border-bottom: 1.5px solid #f686079e;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			outline: none;
		}

</style>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <form action="">
                <div class="card-header">
                    <h4 class="my-0 fw-normal" style="font-family: 'Open Sans', sans-serif;"><span style="color:  #F68807;">{{ project.name }}</span></h4>
                </div>
                <div class="card-body">
                    {% if not tasks %}
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="code" style="color:#dddddd; text-align: center;">No tasks found. <a class="here" href="{{url_for('add_task', project_id = project.id, project_name = project.name)}}">Add Tasks</a> to get started.</li>
                    </ul>
                    {% else %}
                    <ul class="list-unstyled mt-3 mb-3 tasks-in-box">
                        {% for task in tasks %}
                        <li class="code d-flex mt-3 mb-3">
                            <div>
                                <input class="mr-3" type="checkbox" value="{{ task.id }}" style="cursor: pointer;" {% if task.completed %}checked{% endif %}>
                            </div>
                            <div class="tasks" data-task-id="{{ task.id }}">
                                <span class="edit-hover">{{ task.description }}</span>
                            </div>
                        </li>
                    {% endfor %}
                    <li><a class="code add-task-link" style="text-decoration: none;" href="{{url_for('add_task', project_id = project.id, project_name = project.name)}}">// Add_Tasks <i class="fa-solid fa-plus"></i></a></li>
                    </ul>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="{{url_for('project_dashboard', project_id = project.id, project_name = project.name)}}"><button type="button" class="btn btn-sm btn-outline-primary">Save Progress</button></a>
                </div>
            </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}