{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block header %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #2a2a2a74;">
                <!-- List of projects -->
                {% for project in projects %}
                    <a class="dropdown-item" href="#" style="color: #dddddd; font-family: 'Open Sans', sans-serif; font-size: 0.9rem;">{{project.name}}</a>
                {% endfor %}
                <!-- ... -->
                <div class="dropdown-divider" style="background-color: #3c37378f;"></div>
                <a class="dropdown-item code" href="#" style="color: #dddddd; font-family: 'Open Sans', sans-serif; font-size: 0.9rem;">Add Project</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pr-2">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu account" aria-labelledby="navbarDropdownMenuLink" style="background-color: #2a2a2a74;">
                <!-- List of projects -->
                <a class="dropdown-item" href="#" style="color: #dddddd; font-family: 'Open Sans', sans-serif; font-size: 0.9rem;">Settings</a>
                <a class="dropdown-item" href="{{ url_for('logout') }}" style="color: #dddddd; font-family: 'Open Sans', sans-serif; font-size: 0.9rem;">Log Out</a>
                <!-- ... -->
            </div>
        </li>
    </ul>
{% endblock %}
{% block main %}
<style>
    @media screen and (max-width: 675px) {
        .break {
            display: block !important;
            width: 100%;
        }

        .add {
            margin-left: 0 !important; 
        }

        .check {
            vertical-align: top;
            text-align: center;
            margin: 0 auto;
        }

        i {
            padding-bottom: 8px;
        }
    }
    @media screen and (max-width: 376px) {
        .task-container {
            display: block;
        }

        .task {
            width: 100%;
        }

        .register-box {
            padding: 1rem !important;
        }
    }

    .edit_hover_class {
            max-width: 90%;
    }

    @media screen and (min-width: 576px)
    {
        main {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .task-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px; /* Padding for each task item */
        border-bottom: 1px solid #f686077a; /* Add a border between task items */
    }

    .task {
        flex: 1 1 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        margin: 0; /* Reset margin to avoid extra space */
    }

    .ide {
        padding: 10px; /* Add padding to the ide box */
    }

    .language {
    color: white;
    background-color: #131313;
    padding: 12px 16px;
    border-radius: 5px 5px 0 0;
    text-align: left;
  }

    /* Remove border-bottom for the last task item */
    .task-container:last-child {
        border-bottom: none;
        margin-bottom: 0 !important;
    }

    .here{
        color:#F68807;
    }
    
    .here:hover {
        color:#ff7220;
    }
</style>
{% if not projects %}

<h1 class="text-center">No projects found.</h1>
<h3 class="text-center" style="color: #ddddddc5;">Start by creating a new project <a href="{{url_for('add_project')}}" class="here">here.</a></h3>

{% else %}
<div class="dashboard">
    <div class="container">
        <div class="row">
            <p class="language code" id="language-copy"><span style="color: #f27cffd3">def </span>
                <span style="color: rgb(93, 215, 255);">Project(</span><span>Tasky_app</span><span style="color: rgb(93, 215, 255);">)</span>
            </p>

            <!-- <div class="col-6 col-sm-6 d-flex align-items-center add" style="padding-bottom: 4rem;">
                <h3 class="code ms-auto add" style="color: rgba(255, 253, 159, 0.783)">add_task</h3>
                <a class="icon-link-hover pl-2 pb-2" href=""><i class="fa-solid fa-plus fa-lg pl-3 pb-2" style="color: rgba(231, 144, 255, 0.774);"></i></a>
            </div> -->

            <div class="col-12">
                <div class="container rounded p-4 shadow task-box pb-4 ide">
                    {% for project in projects %}
                    <div class="row justify-content-between h-100 task-container" style="align-items: center; margin-bottom: 10px;">
                        <div class="col-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="cursor: pointer; border: 1.8px solid #f68607bc; background-color: transparent; box-shadow: none !important;">
                        </div>
                        </div>
                        <div class="col-11 edit_hover_class">
                            <ul class="list-group">
                                <li class="code list-group-item d-flex align-items-center task" style="background-color: transparent !important; border: none; color:#dddddd">
                                    <label class="ml-2" id="task_{{project.id}}">{{project.name}}</label>
                                    <span class="badge badge-primary badge-pill ml-2 ms-auto" style="background-color: transparent; user-select:none">
                                        <a class="icon-link" href=""><i class="fa-regular fa-pen-to-square" style="color: #F68807;"></i></a>
                                        <span class="pr-3" style="background-color: transparent;"></span>
                                        <a href="" class="icon-link"><i class="fa-solid fa-trash" style="color: #F68807;"></i></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}