{% extends "layout.html" %}

{% block title %}
    Edit Task
{% endblock %}

{% block header %}
<style>
    .project-nav:hover {
        color: #F68807 !important;
    }
</style>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link project-nav" style="color:#f68607b3" href="{{url_for('project_dashboard', project_id=project_id, project_name=project_name)}}">{{project_name}}</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 user-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-regular fa-user"></i> {{username}}
            </a>
            <div class="dropdown-menu account" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0b0b; border:none;">
                <!-- List of projects -->
                <a class="dropdown-item" href="#" style="color: #dddddd; font-family: 'Open Sans', sans-serif; font-size: 0.9rem;">Settings</a>
                <div class="dropdown-divider" style="background-color: #3c37378f;"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}" style="color: #F68807; font-family: 'Open Sans', sans-serif; font-size: 0.9rem; font-weight: bold;">Log Out</a>
                <!-- ... -->
            </div>
        </li>
    </ul>
{% endblock %}


{% block main %}

<h1 class="text-center my-3 pb-1 code" style="font-size: 1rem; font-weight: 100; margin-bottom: 10px;"><span style="color: rgba(231, 144, 255, 0.774)">def </span><span style="color: rgba(255, 253, 159, 0.783)">Edit_Task</span><span style="color: rgb(241, 185, 0)">()</span></h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
    <div class="alert alert-dismissible alert-danger text-center alert-pop">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message | safe }} <!-- Apply the 'safe' filter to render HTML -->
    </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col rounded p-4 shadow login-box pb-2">
            <form class="add-project-form" method="post" action="{{ url_for('edit_task', task_id=task_id) }}">
                <div class="form-group mb-4">
                    <label>Current Task Description: <label class="text-muted code">{{current_task_description}}</label></label>
                    <input type="task-edit" class="form-control mt-1" id="task-edit" name="task-edit" aria-describedby="task-edit" placeholder="// Edit Your Task">
                </div>
                <div class="login-button mb-4 d-grid gap-4">
                    <button type="submit" class="btn" name="add-project-button" style="background-color:#F68807; color: #1e1e1e; font-weight: 700;">Edit Task</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}