{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block header %}

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_project')}}">Add Project</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 user-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-regular fa-user"></i> {{username}}
            </a>
            <div class="dropdown-menu account" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0b0b; border:none;">
                <!-- List of projects -->
                <a class="dropdown-item" href="#" style="color: #dddddd; font-family: 'Open Sans', sans-serif; font-size: 0.9rem;">Settings</a>
                <div class="dropdown-divider" style="background-color: #3c37378f;"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}" style="color: #F68807; font-family: 'Open Sans', sans-serif; font-size: 0.9rem; font-weight: bold;">Log Out</a>
                <!-- ... -->
            </div>
        </li>
    </ul>

{% endblock %}


{% block main %}


<style>
    
    .card-header {
        background-color: #111111;
        color: #ffffff;
        border-bottom: 1px solid #f6860783;
        font-family: 'Fira Code', monospace;
    }

    .card-body {
        background-color: #000000;
        font-family: 'Open Sans', sans-serif;
    }

    .card-footer {
        background-color: #111111;
        color: #ffffff;
        font-family: 'Fira Code', monospace;
    }

    .btn-outline-primary {
        border-color: #F68807;
        color: #F68807;
    }

    .btn-outline-primary:hover {
        background-color: #F68807;
        color: #ffffff;
        border:#ffffff
    }

    .btn-outline-danger {
        border-color: #dc3545;
        color: #dc3545;
    }

    .btn-outline-danger:hover {
        background-color: #dc3545;
        color: #ffffff;
    }

    .card {
        border: none;
    }


    .here{
        color:#F68807;
    }
    
    .here:hover {
        color:#ff7220;
    }

    .no-project {
        margin-top: 15vh;
    }

    .project-page-title {
        padding-bottom: 3rem;
        margin-left: 3rem;
    }

    @media screen and (min-width: 1025px) {
        .project-page-title {
            padding-bottom: 3rem;
            margin-left: 3rem;
    }
        
    }

        /* For mobile devices */
    @media screen and (max-width: 767px) {
        .project-page-title {
            padding-bottom: 3rem;
            margin-left: 12px;
        } 
    }

    /* For tablets */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .project-page-title {
            padding-bottom: 3rem;
            text-align: center;
        }
    }

</style>

{% if not projects %}

<div  class="no-project">
    <h1 class="text-center">No projects found.</h1>
    <h3 class="text-center" style="color: #ddddddc5;">Start by creating a new project <a href="{{url_for('add_project')}}" class="here">here.</a></h3>
</div>

{% else %}

<h2 class="code project-page-title"><span style="color: #f27cffd3">def </span>
    <span style="color: rgba(255, 253, 159, 0.783);">Projects</span><span style="color: rgb(241, 185, 0);">()</span>
</h2>

<div class="container">
    <div class="row">
        {% for project in projects %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="my-0 fw-normal code"><span style="color:  #F68807;">{{ project.name }}</span></h4>
                </div>
                <div class="card-body">
                    {% if project.description %}
                    <ul class="list-unstyled mt-3 mb-4">
                        <!-- Display project details, options, or tasks related to the project -->
                        <li>{{project.description}}</li>
                    </ul>
                    {% endif %}
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><span style="color: rgb(19, 166, 19);"># Uncompleted Tasks:</span> {{ project.tasks|selectattr('completed', 'eq', false)|list|length }}</li>
                    </ul>
                    <button type="button" class="btn btn-sm btn-outline-primary">View Project</button>
                    <span class="pr-2" style="background-color: transparent;"></span>
                    <button type="button" class="btn btn-sm btn-outline-danger">Delete Project</button>
                </div>
                <div class="card-footer text-muted">
                    {% set days_since_creation = (now() - project.created_at).days %}
                    {% if days_since_creation == 0 %}
                        <p>Created today</p>
                    {% else %}
                        <p>Created {{ days_since_creation }} day{{ 's' if days_since_creation > 1 else '' }} ago</p>
                    {% endif %}    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}