{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}
{% block header %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
    </ul>
{% endblock %}

{% block main %}
    <style>
        @media screen and (max-width: 768px){
            .home-h1 {
                font-size: 3.08rem;
                margin-bottom: 10px;
                font-weight: 700;
            }
        }
    </style>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <h1 class="home-h1 text-center my-3" style="padding-top: 2rem;">
        Welcome to <span class="code" id="auto-input"></span>
    </h1>
    <p class="text-center slogan code">// The Developer's Task Manager</p>

    <p class="text-center intro mb-5" id="about">
        Tasky is a powerful task manager <span class="tasky">designed specifically for developers</span>, 
        providing an intuitive and efficient way to track your project progress, 
        manage tasks, and streamline your workflow.
    </p>
    <div id="features">
        <h3 class="text-left subtitle" style="font-weight: 500;">Features</h3>
        <br>
        <ul class="intro">
            <li>
                <span>Effortless Task Tracking:</span> Organize your tasks, set priorities, and monitor progress effortlessly.
            </li>
            <br>
            <li>
                <span>Developer-Centric Interface:</span> Experience an interface designed to resemble a familiar coding environment, 
                making task management intuitive for developers.
            </li>
            <br>
            <li>
                <span>Project Management Made Simple:</span> Seamlessly manage multiple projects and stay on top of deadlines.
            </li>
        </ul>
    </div>
    <script>
        var typed = new Typed('#auto-input', {
          strings: ['Tasky<span style="color:#F68807">()<span>'],
          typeSpeed: 120,
          backSpeed: 150,
          loop: true,
          loopCount: 2
        });
      </script>
{% endblock %}