<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Page title and description for SEO -->
        <title>Tasky: {% block title %}{% endblock %}</title>
        <meta name="description" content="Tasky is a task manager to boost productivity">

        <!-- Meta tags for better indexing -->
        <meta name="robots" content="index, nofollow">
        <meta name="author" content="Mateo Guevara">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <!-- Open Graph metadata (for social media sharing) -->
        <!-- <meta property="og:title" content="Tasky">
        <meta property="og:description" content="Tasky is a task manager to boost productivity">
        <meta property="og:image" content="URL to an image for social media sharing">
        <meta property="og:url" content="URL of your webpage">
        <meta property="og:type" content="website"> -->

        <!-- Twitter Card metadata -->
        <!-- <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Your Page Title">
        <meta name="twitter:description" content="Description of your webpage for Twitter">
        <meta name="twitter:image" content="URL to an image for Twitter sharing"> -->

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Accessibility -->
        <!-- <meta name="theme-color" content="#ffffff">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->

        <!-- CSS/JS files -->
        <link rel="stylesheet" href="/static/style.css">
        <!-- <script src="path/to/scripts.js" defer></script> -->

        <!-- Canonical link (for specifying the preferred URL) -->
        <!-- <link rel="canonical" href="URL of your preferred webpage"> -->
        
        <!-- Recaptcha -->
        <head>
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        </head>

        <!-- icons -->
        <script src="https://kit.fontawesome.com/6b28a3ad3d.js" crossorigin="anonymous"></script>
        
        <!-- bootstrap library -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
        <style>
            body {
                background-color: #1e1e1e;
                color: #ffffff;
            }
        </style>
    </head>
    <body>
        <style>
        @media screen and (min-width: 768px) {
            .navbar.navbar-expand-lg.navbar-dark {
                position: -webkit-sticky;
                position: sticky; 
                top: 0; 
                z-index: 1071;
            }
        }
        </style>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0c0b0bd6;">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand color-nav-brand" href="/">Tasky<span style=" color: #F68807;">()</span></a>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            {% block header %}
                        <!-- for every link I have to add if active:
                            aria-current="page" 
                            active (in the class)
                        I have to copy this inside the block and add the necessary links.
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li> -->
            {% endblock %}
                    </div>
                </div>
            </nav>
        </header>
    <div class="content">
        <main class="limited-height">
            {% block main %}{% endblock %}
        </main>
    </div>
    <footer class="text-light text-center py-3" style="background-color: #333333;">
        <div class="container">
        <p>&copy; 2023 Tasky. All rights reserved.</p>
        </div>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>