{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block header %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" href="/register"  aria-current="page">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
</ul>
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 pb-1 code" style="font-size: 1rem; font-weight: 100; margin-bottom: 10px;"><span style="color: rgba(231, 144, 255, 0.774)">def </span><span style="color: rgba(255, 253, 159, 0.783)">Register</span><span style="color: rgb(241, 185, 0)">()</span></h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
        <div class="alert alert-dismissible alert-danger text-center alert-pop">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message | safe }} <!-- Apply the 'safe' filter to render HTML -->
        </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col rounded p-4 shadow register-box pb-2">
                <form class="register-form" action="{{ url_for('register') }}" method="post" id="register-form">
                    <div class="form-group mb-4">
                        <input type="text" class="form-control mt-3" id="username" name="username" placeholder="// Username">
                    </div>
                    <div class="form-group mb-4">
                        <input type="email" class="form-control mt-1" id="email" name="email" aria-describedby="emailHelp" placeholder="// Email">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" class="form-control mt-1" id="password" name="password" placeholder="// Password">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" class="form-control mt-1" id="password-confirm" name="password-confirm" placeholder="// Confirm_Password">
                    </div>
                    <div class="register-button mb-4 d-grid gap-4">
                        <button type="submit" class="btn g-recaptcha" data-callback='onSubmit' 
                        data-action='submit'data-sitekey="{{GOOGLE_RECAPTCHA_SITE_KEY}}" 
                        style="background-color:#F68807; color: #1e1e1e; font-weight: 700;">Register</button>
                    </div>
                    <small id="forgot-pw" class="form-text" style="color: #F68807">* Password length must be between 5 and 20 characters</small>
                </form>
            </div>
        </div>
    </div>
    <script>
        function onSubmit(token) {
          document.getElementById("register-form").submit();
        }
    </script>
{% endblock %}